@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.page {
  margin: 0 auto;
  max-width: 880px;
}

.header {
  padding: 30px 0;
}

.header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.header__link {
  text-decoration: none;
  color: black;
  transition: opacity .3s;
}

.header__link:hover {
  opacity: .8;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  border-collapse: collapse;
}

.table__head {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background-color: black;
}

.table__heading {
  width: 150px;
}

.table__cell {
  text-align: center;
}


.table__cell_type_btn-email {
  display: none;
}


.table__row:nth-child(even) {
  background-color: rgba(128, 128, 128, .05);
  transition: background-color .3s;
}

.table__row:hover {
  background-color: rgba(128, 128, 128, .3);
}

.table__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.table__btn {
  box-sizing: border-box;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  transition: background-color .3s;
  color: white;
  margin: 0 auto;
}

.table__btn:hover {
  cursor: pointer;
  background-color:rgba(0, 0, 0, .8);
}

.table__btn_type_edit {
  background-image: url(images/pencil-light.svg);
}

.table__btn_type_delete {
  background-image: url(images/delete-light.svg);
}

.table__button {
  width: 100%;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 20px 0;
  transition: opacity .3s;
  font-size: 18px;
}

.table__button:hover {
  cursor: pointer;
  opacity: .8;
}

.table__page-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.table__page-list {
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.table__button-page {
  box-sizing: border-box;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 50%;
  transition: background-color .3s;
}

.table__button-page:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, .3);
}

.table__button-page:disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.table__button-page_active {
  background-color: black;
  color: white;
  transition: background-color .3s;
}

.table__button-page_active:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .8);
}

.table__page-label {
  display: flex;
  gap: 10px;
}

.footer {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
}

.footer__link {
  text-decoration: none;
  color: black;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .8;
}

.popup {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: visibility .2s, opacity .2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: white;
  padding: 34px 36px 37px;
  gap: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  cursor: default;
}

.popup__exit-button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(images/delete-light.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-size: 32px 32px;
  transition: opacity .3s;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__exit-button:hover {
  cursor: pointer;
  opacity: .6;
}

.popup__label {
  margin: 0;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.popup__input-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popup__input {
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 10px;
  width: 100%;
}

.popup__button {
  box-sizing: border-box;
  padding: 14px 0;
  border: 1px solid #000;
  background-color:rgb(0, 0, 0);
  width: 100%;
  color: white;
  margin-top: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
  transition: background-color .3s;
}

.popup__button:hover {
  background-color:rgba(0, 0, 0, .8);
  cursor: pointer;
}

.info__button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 100px;
  background-color: black;
  transition: visibility .2s, opacity .2s linear;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  justify-content: center;
}

.info__button_type_error {
  background-color: red;
}

.info__button_opened {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-bottom: 112px;
}

.form__heading {
  margin: 60px 0 35px;
  text-align: center;
}

.form__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 358px;
}

.form__input {
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-bottom: 2px solid black;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 13px;
  background-color: transparent;
  width: 100%;
}

.form__input::placeholder {
  color: rgba(128, 128, 128, .8);;
}

.form__button {
  box-sizing: border-box;
  padding: 14px 0;
  background-color: black;
  width: 100%;
  border: none;
  color: white;
  margin-top: 80px;
  font-size: 18px;
  line-height: 1.22;
  border-radius: 2px;
  transition: background-color .3s;
}

.form__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

.not-found {
  display: flex;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 50px auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.ant-notification-notice-close {
  color: white;
}

.ant-modal-content {
  background-color: black;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1279px) {
  .table__button {
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1279 - 320));
  }

  .popup {
    gap: 16px;
  }

  .popup__container {
    width: calc(282px + (430 - 282) * (100vw - 320px) / (1279 - 320));
    padding: 25px 22px;
  }

  .popup__exit-button {
    top: -36px;
    right: 0;
    width: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
    height: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
    background-size: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320)) calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
  }

  .popup__button {
    padding: 14.5px 0;
    margin-top: 10px;
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1279 - 320));
  }

  .form__form {
    width: calc(260px + (358 - 260) * (100vw - 320px) / (768 - 320));
  }
}

@media screen and (max-width: 480px) {
  .table__photo {
    display: none;
  }

  .table__cell_type_email {
    display: none;
  }

  .table__cell_type_btn-email {
    display: block;
  }

  .table__page-container {
    flex-direction: column-reverse;
    gap: 0;
    padding-top: 10px;
  }

  .table_email {
    border: 1px solid grey;
    padding: 5px;
  }
}

